.modal{
    padding: 0 !important;
    --bs-modal-padding: 0rem !important;
    --bs-modal-margin: 0rem !important;
    .modal-dialog{
        max-width: 100%;
        transform: unset;
        @include media-query(768px) {
            max-width: 80%;
        }
        @include media-query(575px) {
            max-width: 100%;
        }
        .modal-content{
            background-color: $lightest-gray;
            margin-top: 48px;
            border-radius: 24px;
            .top_bar{
                background-color: $lightest-gray;
                display: flex;
                gap: 16px;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 16px 0;
                border-radius: 16px 16px 0 0;
                .modal-title{
                    padding-left: 24px;
                    color: $light-black;
                }
            }
            .close{
                border: 0;
                background: transparent;
                color: $accent-1;
                padding: 10px 20px 0px 10px;
                span{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    i{
                        font-size: 24px;
                    }
                    b{
                        font-size: 24px;
                    }
                }
            }
            .modal-body{
                video{
                    width: 100%;
                    border-radius: 0 0 20px 20px;
                }
                iframe{
                    border: 0;
                    border: none;
                    height: 700px;
                    width: 100%;
                }
            }
        }
    }
}