#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
  background: $white;
  z-index: 9999999;
  align-content: center;

  .loader {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 35rem;
    height: 18rem;
    margin: 0 auto;
    .wait {
      margin: 5rem 0;
      visibility: hidden;
    }

    .iata_code {
      font-size: 4rem;
      font-weight: 600;
      top: 60%;
      position: absolute;
      color: $accent-1;

      &.departure_city {
        left: 55px;
      }

      &.arrival_city {
        right: 0.5rem;
      }
    }

    .plane {
      position: absolute;
      margin: 0 auto;
      width: 100%;

      .plane-img {
        -webkit-animation: spin 2.5s linear infinite;
        -moz-animation: spin 2.5s linear infinite;
        animation: spin 2.5s linear infinite;
        @include media-query(575px){
          width: 210px;
        } 
      }
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .earth-wrapper {
      position: absolute;
      margin: 0 auto;
      width: 100%;
      padding-top: 2.7rem;

      .earth {
        width: 160px;
        height: 160px;
        background: url("https://zupimages.net/up/19/34/6vlb.gif");
        border-radius: 100%;
        background-size: 340px;
        animation: earthAnim 12s infinite linear;
        margin: 0 auto;
        border: 1px solid #CDD1D3;
        @include media-query(575px){
          width: 120px;
          height: 120px;
        } 
      }
    }


    @keyframes earthAnim {
      0% {
        background-position-x: 0;
      }

      100% {
        background-position-x: -340px;
      }
    }

    @media screen and (max-width: 420px) {
      .departure_city {
        left: 0;
        right: 0;
        top: 30%;
        position: absolute;
        margin: 0 auto;
      }

      .arrival_city {
        left: 0;
        right: 0;
        top: 93%;
        position: absolute;
        margin: 0 auto;
      }
    }
  }
}