.benefit{
    position: relative;
    z-index: -1;
    .benefit-block{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(16px, 1.33vw, 48px);
        box-shadow: $light-shadow;
        padding: clamp(16px, 1.25vw, 36px);
        border-radius: 10px;
        @include media-query(575px){
            padding: 16px 12px;
        }
        .image-box{
            img{
                width: clamp(48px, 3.33vw, 96px);
                @include media-query(767px){
                    width: 40px;
                    height: 40px;
                }
                @include media-query(575px){
                    width: 32px;
                    height: 32px;
                }
                
            }
        }
    }
}
.benefit-box{
    img{
        @include media-query(767px){
            width: 48px;
            height: 48px;
        }
        @include media-query(575px){
            width: 38px;
            height: 38px;
        }
    }
}
.our-history{
    .benefit-box{
        padding: clamp(16px, 1.66vw, 48px);
        img{
            width: clamp(48px, 3.33vw, 96px);
            height: clamp(48px, 3.33vw, 96px);
            @include media-query(575px){
                width: 38px;
                height: 38px;
            }
        }
    }
}