.news-blog {
    .vr-line {
        height: 24px;
        width: 2px;
        background-color: $dark-gray;
    }

    .nav {
        display: flex;
        justify-content: center;
        gap: 16px;
        border-radius: 5px;
        border: 0;
        background: $white;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
        @include media-query(452px) {
            gap: 8px;
        }

        .nav-item {
            .nav-link {
                color: $light-black;

                font-family: $font-primary;
                font-weight: 500;
                font-size: 21px;
                font-style: normal;
                line-height: 130%;
                letter-spacing: 0.95px;
                border-radius: 5px;
                border: 0px;
                padding: 16px 8px;

                &.active {
                    color: $white;
                    background: $accent-1;
                    transition: $transition;
                    border: 0px;
                    padding: 16px 24px;
                }
            }
        }
        .vr-line {
            height: 27.5px;
            width: 1px;
            margin-top: 16px;
            background: $dark-gray;
        }
    }
}
.blog-box {
    .image-box {
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        object-fit: cover;
        a {
            height: 100%;
            object-fit: cover;
        }
        img {
            height: 100%;
            object-fit: cover;
            -webkit-transition: all 0.6s linear 0s;
            transition: all 0.6s linear 0s;
        }
    }
    .content-box {
        h5 {
            a {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    &:hover {
        .image-box {
            img {
                box-shadow: $light-shadow;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
        }
    }
}

//============================//
//======= Blog Us Page =======//
//============================//
.blog-video-sec {
    .video-block {
        position: relative;
        padding: 24px 24px 0 24px;
        .video-btn {
            position: absolute;
            top: 61%;
            left: 48%;
            @include media-query(1099px) {
                top: 65%;
                left: 47%;
            }
            @include media-query(836px) {
                top: 69%;
                left: 46%;
            }
            @include media-query(609px) {
                top: 73%;
                left: 47%;
                width: 8%;
            }
            @include media-query(480px) {
                top: 78%;
                left: 46%;
            }
            @include media-query(430px) {
                top: 80%;
            }
            @include media-query(373px) {
                top: 83%;
            }
        }
    }
}
