.flight-card{
  
    .flight-card-slider{
        margin: 0 -16px;
        
    }
    .flight-deal-block{
        border-radius: 10px;
        margin: 0 16px;
        position: relative;
        overflow: hidden;
        .image-box{
            border-radius: 10px;
            overflow: hidden;
            img{
                border-radius: 10px;
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
        }
        &:hover{
            .image-box{
                img{
                    box-shadow: $light-shadow;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: all 0.6s linear 0s;
                    transition: all 0.6s linear 0s;
                }
            }
        }
    }
}



// ------------- Popular Gloabl Travel Destinations Hotels on Homepage ---------------- //
.global-travel-hotel{
    .hotel-block{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        .image-box{
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            img{
                border-radius: 10px;
                -webkit-transition: all 0.6s linear 0s;
                transition: all 0.6s linear 0s;
            }
            .price{
                position: absolute;
                top: 16px;
                right: -140px;
                transition: $transition;
                background: $white;
                padding: 12px 24px;
                border-radius: 10px 0 0 10px;
            }
        }
        &:hover{
            .image-box{
                img{
                    box-shadow: $light-shadow;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: all 0.6s linear 0s;
                    transition: all 0.6s linear 0s;
                }
                .price{
                    top: 16px;
                    right: 0px;
                    transition: $transition;
                }
            }
        }
    }
}