.car-booking-detail{
    border-radius: 15px;
    .car-title{
        padding: 16px 32px;
        background: rgba(77, 115, 252, 0.20);
        border-radius: 15px 15px 0 0;
    }
    .content-block{
        border-radius: 0 0 15px 15px;
    }
    .flight-detail{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        .flight-departure{
            display: inline-block;
            
        }
    }
    .vr-line{
        background: $dark-gray;
        height: 62px;
        width: 1px;

    }
}