.contact-us{
    .contact-form{
        background: $white;
        padding: 24px;
        box-shadow: $light-shadow;
        border-radius: 20px;
        margin-bottom: 80px;
        @include media-query(992px){
            margin-bottom: 60px;
        }
        @include media-query(767px){
            margin-bottom: 40px;
        }
        @include media-query(576x){
            margin-bottom: 24px;
        }
        button{
            padding: 12px 8px;
        }
    }
    iframe{
        width: 100%;
        height: 568px;
        border-radius: 15px;
        box-shadow: $light-shadow;
        @include media-query(992px){
            height: 500px;
        }
        @include media-query(767px){
            height: 440px;
        }
        @include media-query(576x){
            height: 380px;
        }
       
    }
}