// -------------- Footer --------------- //
footer{
    @include media-query(575px){
        padding: 26px 10px !important;
    }
    form{
        position: relative;
        input{
            position: relative;
        }
        button{
            background: transparent;
            border: 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%; 
            letter-spacing: 0.32px;
            position: absolute;
            top: 16px;
            right: 16px;
            &::before{
                content: '';
                height: 24px;
                width: 1px;
                background: $lightest-black;
                position: absolute;
                left: -8px;
            }
        }
    }
    
    .social-link{
        ul{
            display: flex;
            gap: 16px;
            li{
                a{
                    background-color: $accent-1;
                    padding: 12px;
                    border-radius: 10px;
                   
                }
                &:hover{
                    background-color: $accent-1;
                    border-radius: 10px;
                    transition: $transition;
                }
            }
        }
    }
}