.hotel-detail-sec{

    iframe{
        width: 100%;
        height: 337px;
        border-radius: 10px;
    }
    .rating-star{
        i{
            font-size: 24px;
            color: $accent-2;
        }
    }
    .facilities{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @include media-query(767px){
        gap: 22px;
        } 
        @include media-query(575px){
        gap: 16px;
        } 
        img{
            @include media-query(767px){
                width: 28px;
            } 
            @include media-query(575px){
                width: 20px;
            } 
        }
    }
}

.hotel-availability{
    .availability-info {
        display: flex;
        padding: 20px 24px;
        align-items: center;
        gap: 32px;
        border-radius: 10px;
        background: rgba(77, 115, 252, 0.10);
        @include media-query(1099px){
            gap: 16px;
        }
        @include media-query(992px){
            display: grid;
            gap: 0;
        }
        &.v-2{
            padding: 8px 24px;
        }
        .input-date-picker,
        .custom-sel-input-block {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            @include media-query(1199px){
                margin-bottom: 16px;
            }

            &.v-2{
                &::after{
                    content: '';
                    position: absolute;
                    top: -12px;
                    right: 0;
                    height: 56px;
                    width: 1px;
                    background: $medium-gray;
                    @include media-query(576px){
                        display: none;
                    }
                }
            }

            &.location-select{
                width: 100%;
                i{
                    position: absolute;
                    bottom: 0;
                    color: $accent-1;
                    font-size: 24px;
                }
            }
            
            .sel-input {
                width: 252px;
                color: $lightest-black;
                font-family: $font-primary;
                font-size: 21px;
                font-weight: 500;
                line-height: 130%;
                border: none;
                background: transparent;
                padding: 4px 0 0 0;
                box-shadow: none;
                
                @include media-query(1799px){
                    width: 100%;
                }
                &::placeholder {
                    color: $light-black;
                }

                &:focus {
                    outline: 0;
                }
                &.location-input{
                    width: 100%;
                    padding: 0 0 0 32px;
                }
                &.calendar{
                    @include media-query(1199px){
                        width: 50%;
                    }
                    @include media-query(399px){
                        width: 70%;
                    }
                }
                
            }

            .slector-wrapper {
                display: none;
                position: absolute;
                left: 0;
                top: 60px;
                z-index: 888;
                background: $lightest-gray;
                padding-bottom: 16px;
                overflow: auto;
                box-shadow: $light-shadow;
                border-radius: 8px;
                height: 300px;

                &::-webkit-scrollbar {
                    width: 6px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: transparent;
                    padding: 0 2px;
                    width: 8px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    width: 8px;
                    background: $dark-gray;
                    border-radius: 6px;
                }

                @include widther(768px) {
                    max-width: 265px !important;
                    min-width: 265px !important;
                    width: auto;
                }

                li {
                    &.top-set {
                        position: sticky;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }

                    span {
                        border-radius: 8px 8px 0 0;
                        display: block;
                        padding: 10px 16px;
                        background: $white;

                    }

                    .sel-option {

                        width: 100%;
                        background: transparent;
                        border: none;
                        padding: 6px 10px;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        color: $lightest-black;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            background: $dark-gray;
                        }
                    }
                }
            }
            i{
                font-size: 21px;
                color: $accent-1;
            }
        }
        .seat-booking{
            font-size: 21px;
            font-weight: 500;
        }
        .passenger-area {
            width: 378px;
            position: absolute;
            top: 65px;
            right: -50%;
            display: none;
            z-index: 999;
            @include media-query(1799px){
                top: 89px;
            }
            @include media-query(1299px){
                top: 110px;
            }
            @include media-query(1199px){
                width: 362px;
                top: 60px;
                left: unset;
                right: 0;
            }
            @include media-query(576px){
                right: -36px;
            }
            @include media-query(420px){
                width: 294px;
            }
        }

        .vertical-line {
            width: 1px;
            height: 56px;
            background: $medium-gray;
            margin: 0 16px;
            @include media-query(992px){
                height: 36px;
            }
        }
    }
}

.available-rooms-table{
    @include media-query(1299px){
        display: none;
    }
    table{
        background: $white;
        border-radius: 20px;
        thead{
            tr{
                background: rgba(77, 115, 252, 0.10);
                border-radius: 10px 10px 0 0;
                th{
                    padding: 22.5px 24px;
                    font-size: 21px;
                    font-weight: 500;
                    color: $lightest-black;
                }
            }
        }
        tbody{
            &:last-child{
                border-radius: 20px;
            }
            tr{
                td{
                    padding: 24px;
                    font-size: 21px;
                    font-weight: 500;
                    line-height: 130%;
                    .blue-text{
                        padding: 8px;
                        border-radius: 5px;
                        background: rgba(77, 115, 252, 0.10);
                    }
                }
            }
        }
    }
}
.available-rooms-mobile-view{
    display: none;
    .room-block{
        background: $white;
        padding: 24px;
        border-radius: 20px;
    }
    @include media-query(1299px){
        display: block;
    }
}


.hotel-detail-sidebar{
    .detail-title{
        border-radius: 10px 10px 0 0;
        background: rgba(77, 115, 252, 0.20);
        padding: 16px 32px;
    }
    .hotel-content{
        border-radius: 10px;
        background: $white;
        box-shadow: $light-shadow;
        padding: 32px;
    }
}