.hotel-listing {
    .hotel-block {
        padding: 16px;
        box-shadow: $light-shadow;
        border-radius: 30px;

        .image-box {
            overflow: hidden;
            border-radius: 20px;
            height: 100%;
            object-fit: cover;
            a{
                height: 100%;
                object-fit: cover;
                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    -webkit-transition: all 0.5s linear 0s;
                    transition: all 0.5s linear 0s;
                }
            }
            &.tour-package{
                position: relative;
                .tour-days{
                    position: absolute;
                    top: 24px;
                    left: 0;
                    background: $white;
                    border-radius: 0 10px 10px 0;
                    padding: 12px 24px;
                }
            }
        }

        .apartment-detail {
            background: rgba(77, 115, 252, 0.10);
            border-radius: 10px;
            padding: 16px;
        }

        .rating-number {
            padding: 12px;
            border-radius: 5px;
            background: $accent-1;
            color: $white;
        }

        &:hover {
            .image-box {
                img {
                    -webkit-transform: scale(1.07);
                    transform: scale(1.07);
                    -webkit-transition: all 0.5s linear 0s;
                    transition: all 0.5s linear 0s;
                }
            }
        }
        .hotel-detail{
            padding-top: 32px;
        }
        .pricing{
            padding-top: 24px;
            @include media-query(692px){
                padding-top: 48px;
            }
            @include media-query(576px){
                padding-top: 8px;
            }
            .review{
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 16px;
                @include media-query(576px){
                    justify-content: center;
                    gap: 8px;
                }
            }
        }
    }
    iframe{
        width: 100%;
        height: 240px;
        border-radius: 10px;
    }

}