// Paginations
.paginations{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 47px;
            height: 40px;
            padding: 8px 0;
            border-radius: 10px;
            background: rgba(77, 115, 252, 0.10);
            transition: $transition;
            a{
                color: $black;
            }
            &:hover{
                transition: $transition;
                background: $accent-1;
                color: $white;
                cursor: pointer;
            }
            &:hover a{
                transition: $transition;
                color: $white;
            }
            &.active{
                background: $accent-1;
                color: $white;
                a{
                    color: $white;
                }
            }
            &.arrow{
                a{
                    i{
                        color: $accent-1;
                    }
                }
                &:hover{
                    a{
                        i{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
