.signup {
    @include media-query(992px) {
        background: url('../media/images/login.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        min-height: 100vh;
        display: grid;
        align-items: center;
    }

    &.v2{
        @include media-query(492px){
            display: block !important;
        }
        .form-block {
            @include media-query(492px) {
                margin: 48px 0;
            }
        }
    }
    
    .form-block {
        border-radius: 20px;
        background: $white;
        @include media-query(992px) {
            padding: 24px;
            margin: 0 16px;
        }
        .google{
            background: #FC4D4D;
            border: 0;
            border-radius: 10px;
            box-shadow: $light-shadow;
            a{
                &:hover{
                    color: $white;
                }
            }
        }
        .facebook{
            background: $accent-1;
            border: 0;
            border-radius: 10px;
            box-shadow: $light-shadow;
            a{
                &:hover{
                    color: $white;
                }
            }
        }
        .link-btn {
            padding: 16px 32px;
            display: flex;
            gap: 12px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .or {
            position: relative;
            text-align: center;

            &::after,
            &::before {
                content: "";
                height: 1px;
                width: 46%;
                position: absolute;
                top: 14px;
                background: $dark-gray;

                @include media-query(575px) {
                    top: 12px;
                }
            }

            &::after {
                right: 0;
            }

            &::before {
                left: 0;
            }
        }
        .contact-form{
            .form-control{
                border-radius: 5px;
                background: rgba(77, 115, 252, 0.10);
            }
        }
    }
    .img-block{
        @include media-query(992px) {
            display: none;
        }
        img{
            min-height: 100vh;
            object-fit: cover;
            width: 100%;
        }
    }

    .sign-up-image {

        @include media-query(1199px) {
            width: 100%;
        }

        @include media-query(992px) {
            margin-top: 24px;
        }
    }
    .architex-tilt{
        height: 100%;
        object-fit: cover;
        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .country-selector{

        select {
            -webkit-appearance:none;
            -moz-appearance:none;
            -ms-appearance:none;
            appearance:none;
            outline:0;
            box-shadow:none;
            border:0!important;
            background: rgba(77, 115, 252, 0.0);
            background-image: none;
            flex: 1;
            padding: 11.5px 16px;
            color: $light-black;
            cursor:pointer;
            font-size: 16px;
            font-family: $font-primary;
          }
          select::-ms-expand {
            display: none;
          }
          .select {
            position: relative;
            display: flex;
            line-height: 150%;
            background: rgba(77, 115, 252, 0.10);
            overflow: hidden;
            border-radius: .25em;
            
            &::after {
              content: '\f078';
              position: absolute;
              top: 0;
              right: 0;
              padding: 16px 24px;
              font-family: $font-awesome;
              cursor:pointer;
              pointer-events:none;
              transition:.25s all ease;
            }
            &:hover::after {
              color: $accent-1;
            }
        }
    }

}