// Title Banner
.title-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../media/backgrounds/title-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    .banner-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 32px 16px;
        &.v-2{
            padding: 32px 16px 275px;
        }
        .left-image{
            width: 17%;
        }
        .content-box{
            text-align: center;
            padding-left: 6%;
            h1{
                @include media-query(575px){
                    font-size: 26px;
                }
            }
            .title-break{
                display: none;
                @include media-query(899px){
                    display: block;
                }
                @include media-query(575px){
                    display: none;
                }
            }
        }
        .right-image{
            width: 29%;
            
            &.tour-image{
                mix-blend-mode: darken;
            }
        }
    }
}