.travel-sec {
    background: url("../media/backgrounds/inner-banner-1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 5.938vw 0 3vw;
    position: relative;
    @include media-query(992px) {
        background-size: cover;
        padding: 40px 0 40px;
    }
    @include media-query(767px) {
        padding: 40px 0 40px;
    }
    .cloud-vector-block {
        position: relative;

        .cloud-vector {
            position: absolute;
            top: -102px;
            right: 0;
            @include media-query(992px) {
                display: none;
            }
        }
    }

    .line-vector {
        position: absolute;
        top: 11%;
        left: 14%;
        width: 52%;
        transform: rotate(-9deg);

        @include media-query(1399px) {
            top: 19%;
            left: 13%;
            width: 51%;
            transform: rotate(-8deg);
        }

        @include media-query(992px) {
            top: 30.5%;
            left: unset;
            width: 38%;
            right: 13%;
            transform: rotate(62deg);
        }

        @include media-query(599px) {
            display: none;
        }
    }
}

.left-content {
    position: relative;
    @include media-query(992px) {
        text-align: center;
    }
    .text {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(12px, 0.83vw, 24px);
        align-items: center;
        span {
            padding: 0 16px;
        }
        @include media-query(992px) {
            justify-content: center;
        }
    }
    a {
        @include media-query(992px) {
            margin: 0 auto;
        }
    }
}

.right-images-block {
    display: grid;
    justify-content: end;
    position: relative;
    z-index: 1;
    // @include media-query(768px) {
    //     left: 46px;
    //     width: 90%;
    // }
    // @include media-query(599px) {
    //     margin-top: 0;
    // }
    .border-image {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media-query(1699px) {
            width: 70%;
        }
        @include media-query(1199px) {
            width: 71%;
        }
    }

    .side-image {
        // margin-top: 50%;
        border-radius: 38px;
        border: 5px solid $white;

        @include media-query(1399px) {
            border-radius: 32px;
        }

        @include media-query(1199px) {
            border-radius: 25px;
        }

        @include media-query(992px) {
            border-radius: 20px;
            border: 3px solid $white;
        }

        @include media-query(767px) {
            border-radius: 15px;
        }
        @include media-query(399px) {
            border-radius: 8px;
            border: 2px solid $white;
        }
    }

    .center-image {
        border-radius: 60px;
        border: 5px solid $white;

        @include media-query(1399px) {
            border-radius: 50px;
        }

        @include media-query(1199px) {
            border-radius: 40px;
        }

        @include media-query(992px) {
            border-radius: 30px;
        }

        @include media-query(767px) {
            border-radius: 20px;
            border: 3px solid $white;
        }
    }
}
