// Colors
.color-primary {
    color: $accent-1 !important;
}
.color-sec {
    color: $accent-2 !important;
}

.bg-primary {
    background-color: $accent-1 !important;
}
.bg-sec {
    background-color: $accent-2 !important;
}

.color-white {
    color: $white !important;
}

.bg-white {
    background-color: $white !important;
}

.light-black {
    color: $light-black !important;
}
.lightest-black {
    color: $lightest-black;
}

.bg-light-black {
    background-color: $light-black !important;
}

.color-black {
    color: $black !important;
}

.bg-black {
    background-color: $black !important;
}

.dark-black {
    color: $dark-black !important;
}

.bg-dark-black {
    background-color: $dark-black !important;
}

.light-gray {
    color: $light-gray !important;
}

.bg-lightest-gray {
    background-color: $lightest-gray !important;
}
.bg-light-gray {
    background-color: $light-gray !important;
}

.bg-medium-gray {
    background-color: $medium-gray !important;
}
.color-medium-gray {
    color: $medium-gray !important;
}

.dark-gray {
    color: $dark-gray !important;
}

.bg-dark-gray {
    background-color: $dark-gray !important;
}

.text-shadow {
    text-shadow: $text-shadow;
}
.light-shadow {
    box-shadow: $light-shadow;
}

// Radius
.br-30 {
    border-radius: 30px;
}

.br-25 {
    border-radius: 25px;
}

.br-20 {
    border-radius: 20px;
}

.br-15 {
    border-radius: 15px;
}

.br-12 {
    border-radius: 12px;
}
.br-10 {
    border-radius: 10px;
}

.br-5 {
    border-radius: 5px;
}

// Mix helper classes
.b-unstyle {
    border: 0;
    background: transparent;
}

.shadow {
    box-shadow: $shadow !important;
}
.dark-shadow {
    box-shadow: $dark-shadow !important;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-icons {
    display: flex;
    gap: 32px;
    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
    li {
        a {
            font-size: 32px;
            color: $white;
            transition: $transition;
            &:hover {
                color: $accent-1;
                svg {
                    stroke: $accent-1;
                    stroke-width: $accent-1;
                }
            }
        }
    }
}
.countdown{
    padding: 0;
    // margin-bottom: 48px;
    li{
        font-weight: 700;
        font-size: 47px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: $white;
        margin-right: 32px;
        display: inline-flex;
        align-items: center;
        @include media-query(1600px) {
            margin-right: 24px;
        }
        &:last-child{
            margin-right: 0;
        }
        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: $white;
            transform: rotate(-90deg);
            padding: 0;
            background: none;
            border-radius: 0;
            margin-left: 0px;
        }
    }
}

//   Gap
.gap-4 {
    gap: 4px;
    @include media-query(768px) {
        gap: 2px;
    }
}
.gap-8 {
    gap: 8px;
    @include media-query(768px) {
        gap: 4px;
    }
}
.gap-16 {
    gap: 16px;
    @include media-query(768px) {
        gap: 12px;
    }
}
.gap-24 {
    gap: 24px;
    @include media-query(1199px) {
        gap: 20px;
    }
    @include media-query(992px) {
        gap: 16px;
    }
    @include media-query(768px) {
        gap: 12px;
    }
}
.gap-32 {
    gap: 32px;
    @include media-query(1199px) {
        gap: 26px;
    }
    @include media-query(992px) {
        gap: 22px;
    }
    @include media-query(768px) {
        gap: 18px;
    }
}

.facility {
    img {
        @include media-query(768px) {
            width: 24px;
        }
        @include media-query(575px) {
            width: 16px;
        }
    }
}
//   Font-Weight
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
